<ion-header>
</ion-header>

<ion-content class="fondos background" force-overscroll="false" >
  <div class="centrado ">
  <ion-card class="card" >
<ion-item class="fondo2">
  <ion-label position="floating">Email</ion-label>
  <ion-input type="text" [(ngModel)]="user.email" ></ion-input>
</ion-item>
<ion-item class="fondo2">
  <ion-label position="floating">Contraseña</ion-label>
  <ion-input type="password" [(ngModel)]="user.password" ></ion-input>
</ion-item>
<ion-item class="fondo2">
  <ion-label position="floating">Nombre de usuario</ion-label>
  <ion-input type="text" id="username" [(ngModel)]="username" ></ion-input>
</ion-item>

<p align="center" >
  <ion-button class="boton"size="medium"  (click)="onRegister()">Registrarse</ion-button>
</p>
  <p align="center" class="contenido">¿Ya tienes una cuenta? <a href="/login"> Ingresa</a> con tu cuenta</p>

</ion-card>
</div>
</ion-content>
