<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start"> 
        <ion-back-button defaultHref="/"
        text="Volver"
        color="primary"
        mode="ios">
   </ion-back-button>
  
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-img class="logo"  src="/assets/icon/Logo.png"></ion-img>
    </ion-buttons>
    <ion-title class="title">Informacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondos">
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title class="titulo"> ¿Quieres aprender más?</ion-card-title>
    </ion-card-header>
    <ion-card-content class="contenido">
     El cuidado del agua es de suma importancia por lo que tenemos estas paginas que te pueden ayudar para aprender mas sobre la importancia del agua junto con nuevos metodos para su cuidado y saneamiento.

    <ion-img class="img" src="/assets/img/agua.png"></ion-img>
      Dentro de AcuAhorro podras encontrar la informacion mas importante y relevante sobre los cuidados del agua. Ademas podras recibir las ultimas noticias sobre nuevos avances, propuestas, leyes y nuevos metodos para el cuidado y saneamiento de esta. <br>
      Pero si quieres mas informacion puedes visitar estas paginas.
    
  
<br><br>
      <ion-card-title class="titulo">CharityWater</ion-card-title>
      <a href="https://www.instagram.com/charitywater/?utm_source=ig_embed&ig_rid=7b71a93f-f499-4592-b706-17f4ca338b0f "  class="contenido"> https://www.instagram.com/charitywater</a>

  
      <ion-card-title class="titulo">Clean Water Fund</ion-card-title>
      <a class="contenido" href="https://www.cleanwaterfund.org/" target="_blank">https://www.cleanwaterfund.org/</a> 



      <ion-card-title class="titulo">Global Water Challenge</ion-card-title>
      <a class="contenido" href="https://globalwaterchallenge.org/" target="_blank">https://globalwaterchallenge.org/</a>


      <ion-card-title class="titulo">Global Water Challenge</ion-card-title>
      <a class="contenido" href="http://www.globalwaterleaders.org/" target="_blank">http://www.globalwaterleaders.org/</a> 

  </ion-card-content>
</ion-card>
</ion-content>
