<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start"> 
        <ion-back-button defaultHref="/"
        text="Volver"
        color="primary"
        mode="ios">
   </ion-back-button>
  
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-img class="logo"  src="/assets/icon/Logo.png"></ion-img>
    </ion-buttons>
    <ion-title class="title">Información</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondos">
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title class="titulo"> ¿Quieres aprender más?</ion-card-title>
    </ion-card-header>
    <ion-card-content class="contenido">
     El cuidado del agua es de suma importancia por lo que tenemos estas páginas que te pueden ayudar para aprender más sobre la importancia del agua junto con nuevos métodos para su cuidado y saneamiento.

    <ion-img class="img" src="/assets/img/agua.png"></ion-img>
      Dentro de AcuAhorro podras encontrar la información mas importante y relevante sobre los cuidados del agua. Además podrás recibir las últimas noticias sobre nuevos avances, propuestas, leyes y nuevos métodos para el cuidado y saneamiento de esta. <br>
      Pero si quieres mas información puedes visitar estas páginas.
    
  
<br><br>
      <ion-card-title class="titulo">CharityWater</ion-card-title>
      <a href="https://www.instagram.com/charitywater/?utm_source=ig_embed&ig_rid=7b71a93f-f499-4592-b706-17f4ca338b0f "  class="contenido"> https://www.instagram.com/charitywater</a>

  
      <ion-card-title class="titulo">Clean Water Fund</ion-card-title>
      <a class="contenido" href="https://www.cleanwaterfund.org/" target="_blank">https://www.cleanwaterfund.org/</a> 



      <ion-card-title class="titulo">Global Water Challenge</ion-card-title>
      <a class="contenido" href="https://globalwaterchallenge.org/" target="_blank">https://globalwaterchallenge.org/</a>


      <ion-card-title class="titulo">Global Water Challenge</ion-card-title>
      <a class="contenido" href="http://www.globalwaterleaders.org/" target="_blank">http://www.globalwaterleaders.org/</a> 

  </ion-card-content>
</ion-card>
</ion-content>
