<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start"> 
        <ion-back-button defaultHref="/"
        text="Volver"
        color="primary"
        mode="ios">
   </ion-back-button>
  
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-img class="logo"  src="/assets/icon/Logo.png"></ion-img>
    </ion-buttons>
    <ion-title class="title">Informacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondos">
  <ion-card class="card">
    <ion-card-header>
      <ion-card-subtitle class="subtitulo">Proyecto AcuAhorro</ion-card-subtitle>
      <ion-card-title class="titulo">Sobre nuestro proyecto:</ion-card-title>
    </ion-card-header>
    <ion-card-content class="contenido">
      AcuAhorro es una empresa que quiere cuidar el agua a nivel nacional y evitar su explotación por empresas.
    Tomamos registros medioambientales y aconsejamos al publico como cuidar el agua ya que a pesar de que el planeta tierra sea un 70% de agua casi su totalidad es agua salada, mientras el agua apta para consumo solo llega al 3% segun informes de la fundacion <a class="contenido" href="https://www.wearewater.org/es">We Are Water.</a>
    <ion-img class="img" src="/assets/img/agua.png"></ion-img>
    </ion-card-content>
  </ion-card>

<ion-card class="card">
  <ion-card-header>
    <ion-card-title class="titulo">Fundaciones a favor:</ion-card-title>
  </ion-card-header>
  <ion-card-content >
    <a class="contenido" href="https://www.instagram.com/charitywater/?utm_source=ig_embed&ig_rid=7b71a93f-f499-4592-b706-17f4ca338b0f" target="_blank" >CharityWater</a> <br>
    <a class="contenido" href="https://twitter.com/cleanh2ofund?ref_src=twsrc%5Etfw%7Ctwcamp%5Etweetembed%7Ctwterm%5E1079772670328213504%7Ctwgr%5E%7Ctwcon%5Es1_&ref_url=https%3A%2F%2Fwww.expoknews.com%2F10-ong-que-trabajan-por-el-agua%2F" target="_blank">Clean Water Fund</a> <br>
    <a class="contenido" href="https://globalwaterchallenge.org/" target="_blank">Global Water Challenge</a> <br>
    <a class="contenido" href="http://www.globalwaterleaders.org/" target="_blank">Global Water Leaders</a> <br>
    <a class="contenido" href="https://www.siwi.org/" target="_blank">Stockholm International Water Institute</a>
  </ion-card-content>
</ion-card>
</ion-content>
