<ion-header>
  
  <ion-toolbar class="toolbar">
    <ion-buttons  slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon color="primary"  slot="icon-only" name="menu-outline" ></ion-icon>
         
      </ion-button>
    </ion-buttons >
    <ion-buttons slot="end">
      <ion-img class="logo"  src="/assets/icon/Logo.png"></ion-img>
    </ion-buttons>

    <ion-title class="title">Inicio</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content class="fondos">
  <ion-card class="card">
    <ion-item class="card">  
      <ion-icon color="primary" name="information-circle-outline"> </ion-icon>
      <ion-label class="titulo"> Evita lanzar estas cosas a tu desague:</ion-label>
    </ion-item>

    <ion-card-content>
    <a href="#" target="_blank"><ion-img src="/assets/img/Agua sucia.jpg" ></ion-img></a>
   
  </ion-card-content>

  </ion-card>


  <ion-card class="card">
    <ion-item class="card">  
      <ion-icon color="primary" name="information-circle-outline"> </ion-icon>
      <ion-label class="titulo"> Consejos para ahorrar:</ion-label>
    </ion-item>

    <ion-card-content>
    <a href="#" target="_blank"><ion-img src="/assets/img/tips.jpg" ></ion-img></a>
   
  </ion-card-content>

  </ion-card>



</ion-content>
