<ion-header>
  
  <ion-toolbar class="toolbar">
    <ion-buttons  slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon color="primary"  slot="icon-only" name="menu-outline" ></ion-icon>
         
      </ion-button>
    </ion-buttons >
    <ion-buttons slot="end">
      <ion-img class="logo"  src="/assets/icon/Logo.png"></ion-img>
    </ion-buttons>

    <ion-title class="title">Inicio</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content class="fondos">

    <ion-card class="card">
      <ion-card-header>
        <ion-card-subtitle class="subtitulo">Proyecto AcuAhorro</ion-card-subtitle>
        <ion-card-title class="titulo">Sobre nuestro proyecto:</ion-card-title>
      </ion-card-header>
      <ion-card-content class="contenido">
        AcuAhorro es una empresa que quiere cuidar el agua a nivel nacional y evitar su explotación por empresas.
      Tomamos registros medioambientales y aconsejamos al publico como cuidar el agua ya que a pesar de que el planeta tierra sea un 70% de agua casi su totalidad es agua salada, mientras el agua apta para consumo solo llega al 3% segun informes de la fundacion <a class="contenido" href="https://www.wearewater.org/es">We Are Water.</a>
      
      </ion-card-content>
    </ion-card>


  <ion-card class="card">
    <ion-item class="card">  
      <ion-icon color="primary" name="information-circle-outline"> </ion-icon>
      <ion-label class="titulo"> Evita lanzar estas cosas a tu desagüe:</ion-label>
    </ion-item>

    <ion-card-content>
    <a href="#" target="_blank"><ion-img src="/assets/img/Agua sucia.jpg" ></ion-img></a>
   
  </ion-card-content>

  </ion-card>


  <ion-card class="card">
    <ion-item class="card">  
      <ion-icon color="primary" name="information-circle-outline"> </ion-icon>
      <ion-label class="titulo"> Consejos para ahorrar:</ion-label>
    </ion-item>

    <ion-card-content>
    <a href="#" target="_blank"><ion-img src="/assets/img/tips.jpg" ></ion-img></a>
   
  </ion-card-content>

  </ion-card>



</ion-content>
