<ion-header>
  
  <ion-toolbar class="toolbar">
    <ion-buttons  slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon color="primary"  slot="icon-only" name="menu-outline" ></ion-icon>
         
      </ion-button>
    </ion-buttons >
    <ion-buttons slot="end">
      <ion-img class="logo"  src="/assets/icon/Logo.png"></ion-img>
    </ion-buttons>

    <ion-title class="title">Inicio</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content class="fondos">

   <ion-grid fixed>
     <ion-row>
       <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12" 
       *ngFor="let noticia of noticias; let i=index"> 
       <ion-card class="card">
        <ion-card-header>
          <ion-card-title  class="titulo">{{noticia.title}}</ion-card-title>
        </ion-card-header>
        <a href="{{noticia.url}}">
        <ion-img 
        *ngIf="noticia.image_url"
        [src]="noticia.image_url"></ion-img>
      </a>
        <ion-card-content>
          <p class="contenido">
            {{noticia.description}}
          </p>
        </ion-card-content>
       </ion-card>
       </ion-col>
     </ion-row>
   </ion-grid>


</ion-content>
