.logo{

    width: 50px;
    height: 40px;
}
.toolbar{
    --background: rgb(133, 255, 133);
    font-size:large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.subtitulo{
    color: black;
}
.titulo{
    font-size: large;
    color: black;
}
.contenido{
    color: black;
}
.card {
 background-color: rgb(152, 255, 255);
 --background:rgb(154, 255, 154);
}
.fondos{
    --background: lightblue;
}
.title{
    text-align: center;
}
.img{
    width: 270px;
    height: 260px;
}

