.centrado{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    display:flex;
    align-items: center;
    justify-content:center;
}

.boton{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    --background: rgb(133, 255, 133);
    --color:rgb(0, 90, 121);
    width:115px;
}
.card{
    
    border-radius: 10px;
    height:160px;
    width: 240px;
    background-color: white;
}
.fondos{
    --background: lightblue;
    
}
.fondo2{
    background-color: white;
    --background: white;
    color : black;
}

.contenido{
    color: black;
    text-align: center;
}
.letras{
    color: black;
}
.letrastesting{
    color: black;
}
.background{
    --background: url('/../assets/img/fondologin.jpg') no-repeat center center / cover ; 
    -webkit-background-size: cover;
    -moz-background-size: 75%;
    background-size: cover;
    background-color: #f1f3f5;
}