.fondo{
    --background: rgb(133, 255, 133);
}
.color{
    --background: rgb(152, 255, 255);
    background-color: rgb(152, 255, 255);
}
.img{
    width: 100px;
    height: 50px;
    margin-left:80px;
}