<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start"> 
      <ion-back-button defaultHref="/"
      text="Volver"
      color="primary"
      mode="ios">
 </ion-back-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-img class="logo" src="/assets/icon/Logo.png"></ion-img>
  </ion-buttons>
    <ion-title class="title">Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondos">
  <ion-card class="card">
  <form #formulario="ngForm" (ngSubmit) ="onSubmit()" class="formulario">

    <ion-list-header>
      <ion-label class="tituloformulario">Registro usuario:</ion-label>
    
    </ion-list-header>
    <ion-list-header>
      <p class="subtitulo"> ¡Registrándote nos facilitaras el envío de nuevas noticias, consejos y métodos para cuidar el agua!</p>
    </ion-list-header>
   
    <ion-item class="formulario">
      <ion-label position="floating">
        País:
      </ion-label>
      <ion-input class="formulario" type="text" placeholder="Pais" [(ngModel)]= "usuario.pais" name="pais" required>
      </ion-input>
    </ion-item>

    <ion-item class="formulario">
      <ion-label position="floating">
        Dirección:
      </ion-label>
      <ion-input type="text" placeholder="Direccion" [(ngModel)]= "usuario.direccion" name="direccion" required>
      </ion-input>
    </ion-item>

    <ion-item class="formulario">
      <ion-label position="floating">
        Telefono:
      </ion-label>
      <ion-input type="number" placeholder="Telefono" [(ngModel)]= "usuario.telefono" name="telefono" required>
      </ion-input>
    </ion-item>


    <ion-item class="formulario">
      <ion-label position="floating">Email: </ion-label>
      <ion-input type="email" placeholder="Email"
                 name="email" [(ngModel)]= "usuario.email"
                 pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                 required>
      </ion-input>
    </ion-item>

    <ion-item class="formulario">
      <ion-label position="floating">Password: </ion-label>
      <ion-input type="password" placeholder="Contraseña"
                 name="password" [(ngModel)]= "usuario.password"
                 required>
      </ion-input>
    </ion-item>
    <ion-list-header>
      <label class="formulario" style="font-size: small;"> ¿Desea recibir notificaciones?</label><br>
    </ion-list-header>
   <br>
    <ion-list class="formulario" style="margin-left:80px">
            <input  type="radio" value="si"   [(ngModel)]= "usuario.opcion" name="opcion"> Si
            <input style="margin-left: 30px;"type="radio" value="no"  [(ngModel)]= "usuario.opcion" name="opcion"> No
    </ion-list>
    
    
<br>

    <ion-item class="formulario">
      <ion-button  class="boton" [disabled] ="formulario.invalid"
        type="submit" expand="block" routerLink="/inicio">
      Registrarse
    </ion-button>
    <ion-button  class="boton" slot="end"
        type="reset" expand="block" >
      Limpiar
    </ion-button>
    </ion-item>
    


  </form>
</ion-card>
</ion-content>
